#martyPic {
    width: 140px;
    border-radius: 5px;
    float: right;
    margin-left: 7px;
    margin-right: 1px;
}

.twit {
    width: 30px;
}

.wrapper {
    float: left;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
}

h3 {
    margin-top: 45px;
}

h1, h2, h3 {
    font-family: Varela Round, arial, sans-serif;
    color: #222;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
}

p, address, li {
    font-family: Georgia, serif;
    color: hsl(0, 0%, 27%);
    line-height: 1.6;
}

a {
    color: #517a9e;
    text-decoration: none;
}

.phead {
    margin-bottom: 4px;
}

.pbody {
    margin-top: 4px;
}

@media only screen and (min-width: 768px) {
    #body-wrap {
        padding: 85px 100px;
    }
    
    #martyPic {
        margin-right: 10%;
    }
    
    address {
        width: 45%;
    }
    
    #p1 {
        width: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    #body-wrap {
        width: 55%;
        margin: 80px auto;
        border: solid rgba(0, 0, 0, .15) 2px;
    }
    
    #martyPic {
        margin-bottom: 18px;
    }
}
